@charset "UTF-8";

	.inputText{
		width: 40px;
		margin-right: 10px;
	}
	
	th, td{
		text-align: center;
		font-size: 18px;
	}
	
	.tableFont{
		padding-top: 12px !important;
	}
	
	h1{
		font-weight: bolder;
	}
	
	#area{
		width: 1280px;
		margin: auto;
	}